$opensans-light: 'opensans-light';
$opensans-regular: 'opensans-regular';
$opensans-bold: 'opensans-bold';
$opensans-semi-bold: 'opensans-semi-bold';
$opensans-extra-bold: 'opensans-extra-bold';

$opensans-light-italic: 'opensans-light-italic';
$opensans-italic: 'opensans-italic';
$opensans-bold-italic : 'opensans-bold-italic';
$opensans-semi-bold-italic: 'opensans-semi-bold-italic';
$opensans-extra-bold-italic: 'opensans-extra-bold-italic';
